<style>
.direction {
    cursor: pointer;
}
</style>
<script src="{{ url_for('static', filename='js/jquery-1.11.3.js') }}"></script>
<script>
    $(function() {
        $('.direction').click(function(){
            var action_direction = $(this).data('action');

            console.log(action_direction);

            if(action_direction) {
                $.get("/move/"+action_direction, function() {
                    console.log("Arm moved");
                })
                .fail(function() {
                    console.log("Arm failed to move");
                });
            }
        });
    });

</script>
<table style="width:150px;border:none;">
  <tr>
    <td></td>
    <td><img src="{{ url_for('static', filename='img/arrow-up.png') }}" data-action="up" class="direction" /></td>
    <td></td>
  </tr>
  <tr>
    <td><img src="{{ url_for('static', filename='img/arrow-left.png') }}" data-action="left" class="direction" /></td>
    <td></td>
    <td><img src="{{ url_for('static', filename='img/arrow-right.png') }}" data-action="right" class="direction" /></td>
  </tr>
  <tr>
    <td></td>
    <td><img src="{{ url_for('static', filename='img/arrow-down.png') }}" data-action="down" class="direction" /></td>
    <td></td>
  </tr>
</table>
